<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="gcode_maker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <gcode_maker.Properties.Settings>
            <setting name="homex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="homey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="homez" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="startx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="starty" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="width" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="angle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="zstart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="zend" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="zstep" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="toolsize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="toolstepmm" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="toolstepperc" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="toolspeed" serializeAs="String">
                <value>1600</value>
            </setting>
            <setting name="filename" serializeAs="String">
                <value>bleak</value>
            </setting>
            <setting name="reversed" serializeAs="String">
                <value>False</value>
            </setting>
        </gcode_maker.Properties.Settings>
    </userSettings>
</configuration>